# BDAT 1004 ‚Äì Data Programming

## Problem Set 2

### Student Name: Qays Omar - ID: 200414154

## Question 1
Consider the following Python module:

In [19]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

After importing the module into the interpreter, you execute:

In [20]:
b()

In [21]:
a

2

In [22]:
b()
a

4

In [23]:
b()
a

6

Explaination: In the previous code we can see that we defined a with an initial value of 0. Then the two functions b() and c(a). Function b() which is defined as a global variable that takes the value of function c(a) that return the value of a+2 

After executing the code: the first call of function b() will return 2, which is 0+2.
In the second call b() will return the new value of a+2 which is 2+2 = 4
In the third call b() will return the new value of a+2 which is 4+2 = 6. So, the last value will be 6.

## Question 2

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

fileLength('midterm.py')

284

fileLength('idterm.py')

Traceback (most recent call last):

File "<pyshell#34>", line 1, in <module>
    
fileLength('idterm.py')
    
File "/Users/me/midterm.py", line 3, in fileLength
    
infile = open(filename)
    
FileNotFoundError: [Errno 2] No such file or directory:
    
'idterm.py'
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead.

fileLength('midterm.py')
    
358
    
fileLength('idterm.py')
    
File idterm.py not found.

In [24]:
def filelength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        wordList = content.split()
        return (len(content))
    except:
        return ('File ' + filename + ' is not found')

In [25]:
filelength('FileLength.txt')

123

If we try to call the function filelength for non existed file:

In [26]:
filelength('FileLength2.txt')

'File FileLength2.txt is not found'

In [27]:
filelength('idterm.py')

'File idterm.py is not found'

In [28]:
 filelength('midterm.ipynb')

761

## Question 3

Write a class named Marsupial that can be used as shown below:


m = Marsupial()

m.put_in_pouch('doll')

m.put_in_pouch('firetruck')

m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']


Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:

a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,

b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and

c. overloads the __str__ operator so it behaves as shown below.

k = Kangaroo(0,0)
print(k)
I am a Kangaroo located at coordinates (0,0)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

In [11]:
class Marsupial:
    newlist=[]
    def put_in_pouch(self, item):
        return self.newlist.append(item)
    def pouch_contents(self):
        return self.newlist

In [12]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [13]:
class kangaroo(Marsupial):
    def __init__(self, xcoord, ycoord):
        self.x = xcoord
        self.y = ycoord
        
    def __str__(self):
        return ('I am a Kangaroo located at coordinates' '('+ str(self.x) + ',' + str(self.y)+ ')')
    
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

In [14]:
k = kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates(0,0)

In [15]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates(3,0)

## Question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x= ùë•/2, if x is even

x = 3x + 1, if x is odd

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [16]:
def collatz(x):
    print (x)
    if (x != 1):
        if (x%2) == 0:
            collatz(x//2)  # if x is even 
        else:
            collatz((3*x) +1) # if x is odd

In [17]:
collatz(1)

1

In [18]:
collatz(10)

10
5
16
8
4
2
1

### Question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [29]:
def binary(n):
    if n==0:
        return 0
    elif (n > 0):
        rem = n%2
        floor = n//2
        n2= 10*binary(floor)
        return rem + n2
    else:
        return 'Number is Invalid. Enter a non-negative number number'

In [30]:
binary(0)

0

In [31]:
binary(1)

1

In [32]:
binary(1)

1

In [33]:
binary(3)

11

In [34]:
binary(9)

1001

In [35]:
binary(-1)

'Number is Invalid. Enter a non-negative number number'

## Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

infile = open('w3c.html')

content = infile.read()

infile.close()

hp = HeadingParser()

hp.feed(content)

W3C Mission

Principles

In [36]:
from urllib.request import urlopen
from html.parser import HTMLParser 

class HeadingParser(HTMLParser):
    head = False
    def handle_starttag(self, tag, attrs):
        if tag == "h1": 
            self.head = True
        elif tag == "h2": 
            self.head = True
        else:
            self.head = False
    def handle_data(self, data): 
        if self.head: 
            print('\n', data)  
    def handle_endtag(self, tag): 
        if tag =="h1":
            self.head = False
        if tag =="h2":
            self.head = False

In [9]:
infile = open('w3c.html','r')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

 World Wide Web Consortium (W3C)

 You are here

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [38]:
#using both Collector and crawl2 class explained in the class

from urllib.parse import urljoin
from urllib.request import urlopen
from html.parser import HTMLParser

class Collector(HTMLParser):
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.links = [] 
        
    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': 
                        self.links.append(absolute) 
    def getLinks(self):
        return self.links
    
    def crawl2(url):
        global visited
        links = analyze(url)
        if link not in visited:
            try:
                crawl2(link)
            except:
                pass

In [39]:
def webdir(link, depth, indent):
    visited = set()
    resource = urlopen(link)
    content = resource.read().decode()
    collector = Collector(link)
    collector.feed(content)
    for i in collector.getLinks():
        print(i)
        
    visited.add(link)     

# link: 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html' is used for testing
webdir('http://reed.cs.depaul.edu/lperkovic/', 2, 0)

http://www.cdm.depaul.edu/about/Pages/School-of-Computing.aspx
http://www.cdm.depaul.edu
https://reed.cs.depaul.edu/lperkovic/courses/csc421/
http://reed.cs.depaul.edu/lperkovic/courses/cse351
http://reed.cs.depaul.edu/lperkovic/papers/papers.html

# Question 8

Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season

In [40]:
 !pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\qays\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlparse in c:\users\qays\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\qays\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in c:\users\qays\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: prettytable<1 in c:\users\qays\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: six in c:\users\qays\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\qays\anaconda3\lib\site-packages (from ipython-sql) (1.3.20)
Requirement already satisfied: pickleshare in c:\users\qays\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: pygments in c:\users\qays\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: decorator in c:\users\qays\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\qays\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\qays\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: jedi>=0.10 in c:\users\qays\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: backcall in c:\users\qays\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\qays\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\qays\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: wcwidth in c:\users\qays\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\qays\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)

In [41]:
%load_ext sql

In [42]:
%sql sqlite://

'Connected: @None'

In [43]:
%%sql CREATE TABLE Weather_info(
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temprture float,
    Rainfall float);

 * sqlite://
Done.

[]

In [44]:
%sql INSERT INTO Weather_info VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9);
%sql INSERT INTO Weather_info VALUES ('Mumbai', 'India', 'Spring', 24.4, 16.2);
%sql INSERT INTO Weather_info VALUES ('Mumbai', 'India', 'Summer', 27.9, 1549.4);
%sql INSERT INTO Weather_info VALUES ('Mumbai', 'India', 'Fall', 27.6, 346.0);

%sql INSERT INTO Weather_info VALUES ('London', 'United Kingdom', 'Winter', 4.2, 207.7);
%sql INSERT INTO Weather_info VALUES ('London', 'United Kingdom', 'Spring', 8.3, 169.6);
%sql INSERT INTO Weather_info VALUES ('London', 'United Kingdom', 'Summer', 15.7, 157.0);
%sql INSERT INTO Weather_info VALUES ('London', 'United Kingdom', 'Fall', 10.4, 218.5);

%sql INSERT INTO Weather_info VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
%sql INSERT INTO Weather_info VALUES ('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
%sql INSERT INTO Weather_info VALUES ('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
%sql INSERT INTO Weather_info VALUES ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);

 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.

[]

In [45]:
#To list the database data
%sql SELECT * FROM Weather_info;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 24.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### All the temperature data.

In [47]:
%sql SELECT Temprture FROM Weather_info;

 * sqlite://
Done.

[(24.8,),
 (24.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

#### All the cities, but without repetition

In [48]:
%sql SELECT City FROM Weather_info GROUP By City;

 * sqlite://
Done.

[('Cairo',), ('London',), ('Mumbai',)]

#### All the records for India

In [49]:
%%sql
SELECT * FROM Weather_info WHERE Country= 'India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 24.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

#### All the Fall records

In [50]:
%%sql
SELECT * FROM Weather_info WHERE Season= 'Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

#### The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [51]:
%%sql 
SELECT City, Country, Season FROM Weather_info WHERE Rainfall BETWEEN 200 AND 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

#### The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [52]:
%%sql 
SELECT City, Country, Temprture FROM Weather_info WHERE Temprture>= 20 ORDER by Temprture ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt', 20.7),
 ('Cairo', 'Egypt', 22.2),
 ('Mumbai', 'India', 24.4),
 ('Mumbai', 'India', 24.8),
 ('Mumbai', 'India', 27.6),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.9)]

#### The total annual rainfall for Cairo.

In [53]:
%%sql
SELECT City, SUM(Rainfall) FROM Weather_info 
WHERE City = 'Cairo';

 * sqlite://
Done.

[('Cairo', 27.6)]

#### The total rainfall for each season

In [54]:
%%sql
SELECT Season, SUM(Rainfall) FROM Weather_info 
GROUP By Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

#### Suppose list words is defined as follows:

In [55]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [56]:
print(words)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### Write list comprehension expressions that use list words and generate the following lists:

#### a) Convert the List elements to Uppercase

In [57]:
Upperwords = [letter.upper() for letter in words] 
print(Upperwords)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b) Convert the List elements to Lowercase

In [58]:
Lower_words= [letter.lower() for letter in words] 
print(Lower_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) Print the list of lengths of words in list words

In [59]:
Length= [len(word) for word in words]
print(Length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) The list of words in list words containing 4 or more characters

In [60]:
words= ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newlist = [item for item in words if len(item)>=4]
print (newlist)

['quick', 'brown', 'jumps', 'over', 'lazy']

#### e) List that contains the word in uppercase, lowercase, and the length of the word

In [61]:
newlist = [[item.upper(), item.lower(), len(item)] for item in words]
print (newlist)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]